* {
  box-sizing: border-box;
}

body {
  background: #d7c8b5;
  font-family: "Open Sans";
  font-size: 14px;
  color: #606060;
  overflow-y: scroll;
}

.wrapper {
  background: #fff;
  max-width: 1200px;
  margin: auto;
  box-shadow: 0px 9px 0px 0px rgba(255, 255, 255, 0),
    0px -9px 0px 0px rgba(255, 255, 255, 0),
    10px 0px 30px 0px rgba(0, 0, 0, 0.15),
    -10px 0px 30px 0px rgba(0, 0, 0, 0.15);
}

ul {
  margin: 0;
}

img {
  max-width: 100%;
}

header {
  background: #f3efe9;
}

header nav {
  text-transform: uppercase;
}

nav ul {
  list-style: none;
  display: flex;
  padding: 10px;
  justify-content: center;
}

nav li {
  padding: 9px 7px;
  margin: 2px;
}

nav li.active {
  background: #a8164c;
  color: #fff;
}

main h1 {
  text-align: center;
  border-bottom: 3px solid #a8164c;
  margin: 0;
  padding: 0.7em 0;
  text-transform: uppercase;
  color: #333;
  font-size: 26px;
}

.breadcrumb ul {
  justify-content: flex-start;
  font-size: 12px;
  color: #808080;
}

.flex {
  display: flex;
}

.sidebar-right {
  font-size: 24px;
  color: #808080;
  text-transform: uppercase;
  padding: 20px;
}

.sidebar-right div {
  margin-bottom: 1em;
}

.content {
  width: 66%;
  padding: 20px;
}

.content article {
  display: flex;
  margin-bottom: 30px;
}

.content .article-image {
  width: 33%;
  flex-shrink: 0;
}

.content .article-image img {
  position: relative;
}

.content .article-image img:hover,
.content .article-description h2 {
  cursor: pointer;
}

.content .article-description h2:hover {
  text-decoration: underline;
}

.content .article-description {
  margin-left: 20px;
  line-height: 1.6;
}
