.main {
  background: #44e9ff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  border: 4px solid;
  border-radius: 20px;
  color: #ffffff;
  background-color: transparent;
  overflow: hidden;
  position: relative;
  font-size: 50px;
  padding: 20px 40px;
  cursor: pointer;
  font-family: "Baloo Chettan 2", cursive;
  transition: all 0.4s ease-in-out;
}

button:focus {
  outline: 0;
}

button:after {
  background: #ffffff;
  content: "";
  height: 155px;
  left: -75px;
  opacity: 0.2;
  position: absolute;
  top: -30px;
  transform: rotate(35deg);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
  z-index: 10;
}

button:hover:after {
  left: 120%;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

.larger {
  font-size: 70px;
  padding: 30px 50px;
}
