body {
  font-size: 18px;
  font-family: sans-serif;  
}

header {
  background: #c5ee9f;
  padding: 20px;
  color: #003362;
}

h1 {
  max-width: 1400px;
  margin: auto;
}

main {
  max-width: 1400px;
  margin: auto;
}




/* Stufenförmig */
ul strong {
  color: red;
}

/* 
li strong {
  color: peru;
} */






















































/* Spezifität */



div {
  color: red;
  font-size: 20px;
}

.div {
  color: blue;
}

.green {
  color: green;
}

#div {
  color: deeppink;
}

























/* Box Modell */
* {
  border: 1px solid red !important;
}

.boxmodell {
  border: 2px solid black;
  padding-top: 20px;
  margin-bottom: 20px;
  width: 400px;
}
