*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  overflow-y: scroll;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  position: relative;
}

header {
  background: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  gap: 30px;
  position: sticky;
  top: 0;
  z-index: 2;
}

header .main-nav {
  display: flex;
  gap: 40px;
  align-items: baseline;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  line-height: 2.8;
}

nav ul {
  display: flex;
  gap: 20px;
  line-height: inherit;
}

nav li {
  padding-bottom: 5px;
  border-bottom: 1px solid #000;
  transition: border-color 70ms ease-in-out;
  cursor: pointer;
}

nav li:hover {
  border-color: currentColor;
}

nav li.more::after {
  content: "á¯";
  margin-left: 7px;
  transform: scaleY(0.6) translateY(2px);
  display: inline-block;
}

.logo {
  font-size: 24px;
  font-weight: 500;
}

main {
  margin: auto;
  padding: 40px;
}

footer {
  background: #000;
  color: #fff;
  padding: 100px 70px;
}

.footer-flex {
  display: flex;
  align-items: flex-start;
  margin-bottom: 80px;
}

.footer-flex div {
  width: 60%;
  flex-shrink: 0;
  font-size: 20px;
}

.footer-flex ul {
  flex-wrap: wrap;
}

.top {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.top > div {
  padding: 40px;
}

.content {
  max-width: 800px;
  margin: auto;
}
.content ul {
  margin: 40px 0;
}

.also-like {
  margin: 100px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 80px;
}

h1 {
  font-size: 46px;
}

h3 {
  font-size: 42px;
  margin: 0;
}

img {
  max-width: 100%;
}

.checkout {
  max-width: 400px;
  padding: 50px;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input,
button {
  padding: 0.7em;
  text-align: center;
  width: 100%;
}

button {
  background-color: white;
  border: 1px solid;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

.field-container {
  display: flex;
  align-items: baseline;
  gap: 20px;
  margin-bottom: 40px;
}

.images {
  display: flex;
  gap: 10px;
}

.images .large {
  height: 700px;
  object-fit: cover;
}

.images .thumbnails {
  flex-shrink: 0;
}

.images .thumbnails img {
  height: 120px;
  aspect-ratio: 3 / 4;
  object-fit: cover;
  opacity: 0.4;
  display: block;
  margin-bottom: 10px;
  transition: opacity 0.2s ease-in-out;
}

.images .thumbnails img.preview-active,
.images .thumbnails img:hover {
  opacity: 1;
}

.overlay {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  justify-content: center;
  align-items: center;
  display: none;
}

.overlay.open {
  display: flex;
}

.overlay .modal-content {
  background-color: white;
  max-width: 50vw;
  padding: 20px;
  position: relative;
}

.modal-content h3 {
  line-height: 1.1;
  margin-bottom: 1em;
}

.modal-closer {
  position: absolute;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  right: -15px;
  top: -15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  background: #ccc;
}

#email-error {
  text-align: right;
  color: #ac0b0b;
  font-weight: 500;
}
